#agenda-content section.date{
  width: 100%;
  color: #6a737b;
  font-family: 'Teuton24Pro_conv';
  overflow: hidden;
}

#agenda-content section.date header{
  line-height: 2.75em;
  font-size: 2.1875em;
  border-top: 1px solid #fed103;
}

#agenda-content section.date:first-child header{
  border-top: none;
}

#agenda-content section.date header a.title{
  display: block;
  color: #6a737b;
  text-decoration: none;
  height: 88px;
}

#agenda-content section.date header:hover,
#agenda-content section.date header.active{
  background: #fed103;
}

#agenda-content section.date header:hover a.title,
#agenda-content section.date header.active a.title{
  color: #fff;
}

#agenda-content section.date header a.arrow{
  padding: 0 6.26%;
  height: 46px;
  float: left;
  width: 7.45%;
}

#agenda-content section.date article{
  font-family: 'Teuton23Pro_conv';
  overflow: hidden;
  border-top: 1px solid #feeea3;
  display: none;
}

#agenda-content section.date article:first-child{
  border-top: 0px;
}

#agenda-content section.date article h3{
  color: #0066cc;
  font-size: 1.25em;
  font-weight: normal;
  font-family: 'Teuton24Pro_conv';
  margin: 30px 0 20px 0;
}

#agenda-content section.date article p{
  color: #666666;
  font-size: .9375em;
  margin: 0;
}

#agenda-content section.date article .icon{
  width: 29.43%;
  float: left;
  text-align: center;
}

#agenda-content section.date article .icon figure{
  display: inline-block;
  width: 38.67%;
  margin-top: 20px;
}

#agenda-content section.date article .content{
  width: 70.57%;
  float: right;
  margin-bottom: 30px;
}

/*mobile*/

@media only screen and (max-width: 640px) {
  #agenda-content section.date header{
    line-height: .5em;
    
  }

  #agenda-content section.date header{
    font-size: 1.109em;
    line-height: 2.75em;
  }
  
  #agenda-content section.date header a.title{
    height: 46px;
  }

  #agenda-content section.date header a.arrow{
    height: 46px;
    clear: left;
  }

  #agenda-content section.date header a.arrow img{
    max-height: 35px;
  }
}