#container{
  width: 612px;
  margin-left: 23.015%;
  position: relative;
}

 #container h1.dna-logo{
    text-align: center;
    margin: 37px 0;
  }

 #container h1.dna-logo img.icon-4g{
  position: absolute;
  right: 7.9%;
  top: 35px;
  width: 10.55%;
 }

/* ==========================================================================
   CONTENT - LAYOUT BASE
   ========================================================================== */
#content{
  width: 100%;
  background: #fff;
  -webkit-box-shadow:  0px 0px 21px 1px rgba(0, 0, 0, .18);
          box-shadow:  0px 0px 21px 1px rgba(0, 0, 0, .18);
}

/* ==========================================================================
   MENU TOPO
   ========================================================================== */
#menu-mobile{
  display: none;
}


#menu-top{
  background: #004180;
  height: 60px;
  margin-bottom: 29px;
  color: #fff;
}

#menu-top nav,
#menu-top nav ul{
  width: 100%;
}

#menu-top nav > ul > li{
  float: left;
  width: 16.666666%;
  height: 60px;
}


#menu-top nav,
#menu-top ul{
  float: left;
  z-index: 10;
}

#menu-top nav > ul > li > a{
  display: block;
  background: url(../img_dna/2014/sprite_system.png) no-repeat 0 0;
  text-indent: -9999px;
  padding: 0px;
  height: inherit;
}

#menu-top nav li a.local{
  background-position: -1px 0px;
}

#menu-top nav li a.local:hover,
#menu-top li:hover a.local,
#menu-top nav li a.local:active,
#menu-top nav li a.local.active,
#menu-top nav li.opened a.local{
  background-position: -1px -70px;
}

#menu-top nav li a.perfil{
  background-position: -100px -0px;
}

#menu-top nav li a.perfil:hover,
#menu-top nav li a.perfil:active,
#menu-top nav li a.perfil.active{
  background-position: -100px -70px;
}

#menu-top nav li a.mural{
  background-position: -205px -0px;
}

#menu-top nav li a.mural:hover,
#menu-top nav li a.mural:active,
#menu-top nav li a.mural.active{
  background-position: -205px -70px;
}

#menu-top nav li a.schedule{
  background-position: -305px -0px;
}

#menu-top nav li a.schedule:hover,
#menu-top nav li a.schedule:active,
#menu-top nav li a.schedule.active{
  background-position: -305px -70px;
}

#menu-top nav li a.friends{
  background-position: -405px -0px;
}

#menu-top nav li a.friends:hover,
#menu-top nav li a.friends:active,
#menu-top nav li a.friends.active{
  background-position: -405px -70px;
}

#menu-top nav li a.help{
  background-position: -508px -0px;
}

#menu-top nav li a.help:hover,
#menu-top nav li a.help:active,
#menu-top nav li a.help.active{
  background-position: -508px -70px;
}

/* ==========================================================================
   MENU TOP DROPDOWN
   ========================================================================== */
#menu-top ul.dropdown{
  position: absolute;
  top: 60px;
  left: 0px;
  width: 72px;
  padding: 17px 15px 0;
  line-height: 1em;
  background: url(../img_dna/dropdown-background.png) repeat;
  display: none;
}

#menu-top li:hover ul.dropdown,
#menu-top li.opened ul.dropdown{
  display: block;
}

#menu-top ul.dropdown li{
  text-align: left;
  margin-bottom: 19px;
}

#menu-top ul.dropdown a{
  color: #2f2f2f;
  font-size: .75em;
  font-family: "Teuton24Pro_conv";
  text-decoration: none;
  text-transform: uppercase;
}

#menu-top ul.dropdown a.active,
#menu-top ul.dropdown a:hover,
#menu-top ul.dropdown a:active{
  color: #879b00;
}

/* ==========================================================================
   PROFILE
   ========================================================================== */

#profile header{
  height: 156px;
  background: url(../img_dna/2014/sprite_system.png) no-repeat 0px -891px;
  margin-top: 0px;
  position: relative;
  margin-bottom: 110px;
}

#profile-info{
    color: #004180;
    width: 360px;
    position: absolute;
    top: 231px;
    left: 105px;
}

#profile-info p{
  line-height: 1.375em;
  font-size: 0.75em;
  text-transform: uppercase;
  margin: 0;
}

#profile-info p span{
  text-transform: lowercase;
  font-family: "Teuton23Pro_conv", Helvetica, Arial;
}

#profile-info .user-picture,
#profile-info .user-picture img{
  width: 96px;
  height: 96px;
}

#profile-info p.upload{
  margin-bottom: 10px;
}

#profile-info a.select-file{
  display: block;
  padding: 5px 0;
  text-decoration: none;
}

#profile-info a.post.photo{
  margin-right: 10px;
}

#profile-info > section{
  float: right;
  width: 243px;
  margin-top: 65px;
}


/* ==========================================================================
   POSTS
   ========================================================================== */

.with-scroll {
  overflow: hidden;
}

.with-scroll .mCSB_container{
  margin-right: 0px;
}

#posts header{
  margin-bottom: 17px;
  background: #fff;
}

#posts header h1{
  font-weight: normal;
  font-family: "Teuton23Pro_conv";
  font-size: 1.375em;
  color: #004180;
  margin-left: 84px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-transform: uppercase;
}

#posts figure{
  float: left;
  width: 66px;
}

#posts header textarea{
  border: 1px solid #dadada;
  font-size: 1em;
  padding: 5px;
  margin-left: 14px;
  width: 520px;
  height: 57px;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.08) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.08))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.08) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.08) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.08) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.08) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#14000000',GradientType=0 ); /* IE6-9 */
}

figure.user-picture{
  float: left;
  width: 66px;
  height: 66px;
  overflow: hidden;
}

figure.user-picture img{
  -webkit-box-shadow:  0px -2px 5px 0px rgba(0, 0, 0, .2);
          box-shadow:  0px -2px 5px 0px rgba(0, 0, 0, .2);
}

#posts #post-links{
  margin-top: 6px;
}

#posts #post-links{
  float: right;
}

a.select-file{
  color: #004180;
  font-size: 1em;
  text-transform: uppercase;
  font-family: "Teuton24Pro_conv", Helvetica, Arial;
}

a.post,
#posts #post-links input[type=submit],
#posts #post-links button,
#file_browse_wrapper #file_browse{
  background: #dae0ec;
  display: block;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 45px;
  height: 25px;
  text-indent: -9999px;
  float: left;
  border: none;
  font-family: "Teuton24Pro_conv";
  text-transform: uppercase;
  font-size: .75em;
  color: #004180;
  margin-right: 4px;
}

a.post.video,
a.post.photo,
#file_browse_wrapper #file_browse{
    background: url(../img_dna/2014/sprite_system.png) no-repeat 0 0 #dae0ec;
}

a.post.video{ background-position: 2px -186px; }
a.post.photo, #file_browse_wrapper #file_browse{ background-position: 2px -211px; }

#posts #post-links input[type=submit],
#posts #post-links button{
  text-indent: 0px;
  width: 82px;
}

#file_browse_wrapper{
  width: 144px;
}

#posts article{
  background: #fff;
  margin-bottom: 14px;
}

#posts article .info{
  background: #eff3f8;
  float: left;
  margin-left: 14px;
  padding: 20px;
  width: 492px;
}

#posts article .post-image{
  width: 532px;
  margin-left: 80px;
  margin-top: 2px;
}

#posts article .post-image img{
  width: 100%;
}

#posts article .info h2,
#posts article .info h3,
#posts article .info a{
  font-family: Tahoma, Helvetica, Arial;
  font-size: .875em;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 10px;
}
#posts article .info h2{

}
#posts article .info h3{
  color: #616161;
  font-size: .625em;
  display: inline;
}
#posts article .info a{
  font-size: .75em;
  color: #03388a;
  text-decoration: none;
}

#posts article .info h2 a{
  font-size: 1em;
  margin-right: 1px;
}

#posts article .info a:hover{
  text-decoration: underline;
}

/* ==========================================================================
   POSTS COMMENTS
   ========================================================================== */
#posts article.post-comment{
  background: transparent;
  margin: 10px 0 0;
  display: none;
}
#posts article.post-comment a{
  font-family: "Teuton24Pro_conv";
  text-transform: uppercase;
  font-size: .75em;
  color: #004180;
}

#posts article.post-comment input[type=text]{
  border: 1px solid #bdc7d8;
  width: 80%;
  margin-right: 5px;
}

#posts article.comments{
  background: transparent;
  margin-top: 20px;
  float: left;
  clear: left;
  margin-bottom: 0px;
  width: 100%;
}

#posts article.comments figure{
  width: 40px;
  margin-right: 15px;
}

#posts article.comments h2{
  font-size: .8125em;
}
/* ==========================================================================
   HIGHTLIGHT PHOTO
   ========================================================================== */

#highlight-photo{
  font-family: Tahoma, Helvetica, Arial;
  width: 280px;
  top: 282px;
  position: absolute;
  right: -387px;
  -webkit-transform:rotate(-15deg);
     -moz-transform:rotate(-15deg);
      -ms-transform:rotate(-15deg);
       -o-transform:rotate(-15deg);
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=-1.5);
}

#highlight-photo header{
  background: url(../img_dna/2014/sprite_system.png) no-repeat transparent 0px -140px;
  height: 34px;
  margin-left: 30px;
}

#highlight-photo figure{
  background: url(../img_dna/2014/sprite_system.png) no-repeat transparent -14px -556px;
  width: 237px;
  height: 216px;
  padding: 23px;
  float: left;
  margin-top: 20px;
  padding-bottom: 72px;
}

#highlight-photo figure img{
  height: 216px;
}

#highlight-photo figcaption{
  color: #616161;
  font-size: .9375em;
  margin-top: 20px;
}

#highlight-photo figcaption a{
  color: #03388a;
  margin-left: 3px;
  text-decoration: none;
}

#highlight-photo figcaption span{
  font-size: .666em;
}
/* ==========================================================================
   LAYOUTS Elements
   ========================================================================== */
.layout-element{
  position: absolute;
}

#dna-tim-logo.layout-element{
  right: -378px;
  top: 32px;
  width: 173px;
  height: 64px;
}

#tim-logo.layout-element{
  right: -301px;
  bottom: 36px;
  width: auto;
  height: auto;
}

#details-top-left.layout-element{
  background: url(../img_dna/2014/sprite_system.png) no-repeat 0px 0px;
  width: 143px;
  height: 44px;
  background-position: 0px -374px;
  left: -143px;
  top: 38px;
}

#details-top-right.layout-element{
  background: url(../img_dna/2014/sprite_system.png) no-repeat 0px 0px;
  top: 29px;
  right: -198px;
  width: 198px;
  height: 100px;
  background-position: -198px -446px;
}

/* ==========================================================================
   FRIENDS-LIST
   ========================================================================== */
#search-friends{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

#search-friends input[type=text]{
  border: 1px solid #bdc7d8;
  margin-right: 5px;
  font-size: 0.875em;
}

#search-friends a{
  font-family: "Teuton24Pro_conv";
  text-transform: uppercase;
  font-size: .75em;
  color: #004180;
  text-decoration: none;
}

#friends-list{
  background: #fff;
  padding-left: 41px;
  line-height: 1em;
  position: relative;
}

#friends-list article{
  background: #eff3f8;
  width: 243px;
  font-size: .8125em;
  height: 66px;
  float: left;
  margin-bottom: 29px;
  margin-right: 36px;
}

#friends-list article a{
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  color: #375594;
  margin: 15px 0 0 15px;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
  display: block;
  width: 130px;
  float: left;
}

#friends-list article figure.user-picture img{
  -webkit-box-shadow:  none;
          box-shadow:  none;
}

/* ==========================================================================
   USER INFO THUMB
   ========================================================================== */
#user-info-thumb{
    color: #004180;
    width: 295px;
    position: absolute;
    top: 266px;
    right: -501px;
}

#user-info-thumb p{
  line-height: 1.375em;
  font-size: 0.75em;
  text-transform: uppercase;
  margin: 0;
}

#user-info-thumb p span{
  text-transform: lowercase;
  font-family: "Teuton23Pro_conv", Helvetica, Arial;
}

#user-info-thumb figure{
  margin-right: 31px;
}

/* ==========================================================================
   LOCAL PAGE
   ========================================================================== */
.local-page #menu-top{
  margin-bottom: 0px;
}

#local-info{
  color: #292929;
}

#local-info h1{
  font-family: "Teuton25Pro_conv", Helvetica, Arial;
  font-size: 1.875em;
  margin: 41px 62px 30px 62px;
  font-weight: normal;
}

#local-info p{
  font-family: "Teuton23Pro_conv", Helvetica, Arial;
  margin: 0 62px 37px 62px;
  color: #292828;
}

#local-info textarea{
  margin: 0 10%;
  width: 80%;
}

#local-info input[type=submit]{
  font-family: "Teuton24Pro_conv";
  text-transform: uppercase;
  font-size: .75em;
  color: #fff;
  text-decoration: none;
  border: none;
  background: #004180;
  padding: 5px 25px;
  float: right;
  margin: 10px 9% 10px 0;
}

#local-info table{
  width: 90%;
  margin: 0 5%;
  font-family: "Teuton23Pro_conv", Helvetica, Arial;
  font-size: .75em;
}

#local-info table thead th{
  background: #004890;
  color: #fff;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 641px) and (max-width: 768px) {
  #container{
  }
}

@media only screen and (min-width: 641px) and (max-width: 768px) and (orientation:portrait){
  #container{
  }

}

@media only screen and (min-width: 641px) and (max-width: 768px) and (orientation:landscape){
  #container{
  }

}

@media only screen and (min-width: 769px) and (max-width: 1280px) {

}

@media only screen and (max-width: 1280px) {

}
