/*BASE ---------------------*/
#local{
  color: #666666;
  font-family: helvetica, arial, sans-serif;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

#local figure figcaption{
  color: #666666;
  font-size: .625em;
  text-align: right;
  margin-right: 7.96%;
}

#local p{
  padding: 0 7.96%;
  font-size: .875em;
  line-height: 1.25em;
  margin: 0px;
}

#local p.with-margin{
  margin-top: 25px;
}

#local h1,
#local h2,
#local h3,
#local h4{
  padding: 0 7.96%;
  font-weight: normal;
  text-transform: uppercase;
  overflow: hidden;
}

#local h2{
  font-size: 1.75em;
}

/*NAVIGATION ---------------------*/
#local nav{
  background: #99cc33;
  width: 100%;
  overflow: hidden;
}

#local nav li{
  float: left;
  padding: 5px 3.447%;
}

#local nav li a{
  display: block;
  font-family: 'Teuton24Pro_conv';
  text-transform: uppercase;
  text-decoration: none;
  font-size: .9375em;
}

#local nav li:hover,
#local nav li.active{
  background: #c3d62e;
}

/*HEADER MAIN ---------------------*/
#local header.main h1{
  font-family: 'Teuton25Pro_conv';
  color: #99cc33;
  font-size: 2.53em;
  line-height: 1em;
}

#local header.main h2{
  margin-top: 25px;
}

#local header.main h3{
  margin-top: 30px;
  font-family: 'Teuton24Pro_conv';
}

#local header.main h4{
  font-family: 'Teuton23Pro_conv';
  color: #99cc33;
  font-size: 1.3125em;
  text-transform: none;
  margin: 0 0 25px 0;
}

/*ARTICLE ---------------------*/
#local article{
  margin-bottom: 35px;
}

#local article h2{
  color: #99cc33;
  font-family: 'Teuton24Pro_conv';
}