@media only screen and (max-width: 640px) {

  #dna-tim {
    width: 68.19%;
    margin-left: 16.96%;
    text-align: center;
    margin-top: 30px;
  }

  #details-top-left.layout-element {
    top: 50px;
     z-index: 10;
  }

  #access-bnt {
    margin-left: 0;
    margin-top: 118px;
    text-align: center;
  }

  #access-bnt {
    margin-left: 0;
    margin-top: 70px;
    margin-bottom: 100px;
    text-align: center;
  }

  #login-form form{
    margin-left: 0px;
  }

  #login-form input[type=submit]{
    margin-left: 53.5%;
  }

  #login-form {
    margin-left: 6.94%;
    margin-top: 0px;
  }

  #login-form p{
    position: relative;
  }

  #login-form p span{
    position: absolute;
    top: 9px;
    left: 45px;
  }

  #login-form input[type="text"] {
    margin-bottom: 5px;
    width: 86.11%;
  }

  #login-form p a{
    color: #fff;
  }

  #form-line.layout-element {
    display: none;
  }

  #clock{
    width: 100%;
    position: relative;
    top: auto;
    left: auto;
    margin-top: 36px;
  }

  #clock header,
  #clock article,
  #clock footer{
    font-size: 1.6875em;
    width: auto;
    line-height: 1em;
    margin: 0px;
    display: inline-block;
  }

  #clock article{
    margin: 0 10px;
  }
}