body{
  background: #3eb0e3;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#container {
   min-height:100%;
   position:relative;
}

#body {
   padding:10px;
   padding-bottom: 129px;   /* Height of the footer */
}

/* ==========================================================================
   LOGIN FORM
   ========================================================================== */
#dna-tim{
  margin: 0px;
  margin-left: 26.015%;
  margin-top: 93px;
}

#access-bnt{
  margin-top: 118px;
  margin-left: 54.06%;
  cursor: pointer;
  /*width: 14.01%;*/
}

#login-form{
  margin-top: 68px;
  margin-left: 26.015%;
  font-size: 1.25em;
  font-family: "Teuton23Pro_conv", Helvetica, Arial;
  color: #fff;
  position: relative;
}

#login-form form{
  margin-left: 25.12%;
}

#login-form a{
  font-family: "Teuton23Pro_conv", Helvetica, Arial;
  color: #1c3f94;
}

#login-form input[type=text]{
  width: 216px;
  height: 32px;
  padding: 5px;
  color: #1c3f95;
  font-family: "Teuton23Pro_conv", Helvetica, Arial;
  border: none;
  background: #fff;
  margin-right: 23px;
  -webkit-box-shadow: inset 10px 10px 22px -12px rgba(0,0,0,0.38);
     -moz-box-shadow: inset 10px 10px 22px -12px rgba(0,0,0,0.38);
          box-shadow: inset 10px 10px 22px -12px rgba(0,0,0,0.38);
}

#login-form label{
  width: 50px;
  display: block;
  float: left;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 10px;
  color: #1c3f95;
}

#login-form input[type=submit]{
	margin-left: 176px;
  border: none;
  margin-bottom: 20px;
  padding: 12px 27px;
  font-family: "Teuton23Pro_conv", Helvetica, Helvetica Neue, Arial;
  font-size: .75em;
  color: #fff;
  text-transform: uppercase;
  background: #81bd41;
}

p.cannot-acccess{
  text-align: center;
  color: #1c3f95;
}

p.cannot-acccess a{
  color: #1c3f95;
  text-decoration: underline;
}

p.cannot-acccess strong{
  text-transform: uppercase;
}

/* ==========================================================================
   FOOTER
   ========================================================================== */
footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:129px;   /* Height of the footer */
   background: transparent;
}

footer h2{
  color: #fff;
  font-weight: normal;
  font-size: .75em;
  font-family: "Teuton23Pro_conv", Helvetica, Helvetica, Arial;
  text-transform: uppercase;
  text-align: center;
}

footer h2 span{
  font-family: "Teuton25Pro_conv", Helvetica, Helvetica Neue, Arial;
}

footer figure{
  margin-top: 20px;
  text-align: center;
}


/* ==========================================================================
   CLOCK
   ========================================================================== */

#clock{
  font-family: "Teuton25Pro_conv", Helvetica, Helvetica, Arial;
  color: #1c3f95;
  width: 9%;
  text-align: center;
  position: absolute;
  left: 26.015%;
  top: 296px;
  text-transform: uppercase;
}

#clock article{
  font-size: 5.5em;
  line-height: 1em;
  margin-top: 11px;
}

#clock header, #clock footer{
  font-family: "Teuton23Pro_conv", Helvetica, Helvetica, Arial;
  color: #fff;
  font-size: 1.6875em;
  width: 100%;
}

#clock footer{
  position: relative;
  bottom: 0;
  height: auto;
}

#clock[data-expired="true"]{
  display: none;
}

/* ==========================================================================
   LAYOUT ELEMENTS
   ========================================================================== */

   #form-line.layout-element{
    width: 46%;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0px;
    top: 457px;
    display: none;
   }

  #details-top-left.layout-element{
    /*width: 559px;*/
    width: 43.67%;
    position: absolute;
    top: 180px;
    left: 0px;
    z-index: -10;
  }