ul#menu-left {
  width: 201px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 285px;
  right: -211px;
  z-index: 200;
  background: url(../img_dna/2014/menu_left/arrow-menu-down.png) no-repeat 10px 0px;
}

ul#menu-left .ico-agenda a, 
ul#menu-left .ico-agenda-hover a, 
ul#menu-left .ico-amigos a, 
ul#menu-left .ico-amigos-hover a, 
ul#menu-left .ico-fotos a, 
ul#menu-left .ico-fotos-hover a, 
ul#menu-left .ico-locais a, 
ul#menu-left .ico-locais-hover a, 
ul#menu-left .ico-mural a, 
ul#menu-left .ico-mural-hover a, 
ul#menu-left .ico-perfil a, 
ul#menu-left .ico-perfil-hover a {
  display: block;
  background: url('../img_dna/2014/menu_left/icons_menu.png') no-repeat;
  cursor: pointer;
  margin-top: 5px;
  width: 47px;
  height: 47px;
  text-indent: -99999px
}
 
ul#menu-left .ico-agenda a { background-position: -0px  -0px;   width: 47px; height: 47px; }
ul#menu-left .ico-amigos a { background-position: -94px -0px;   width: 47px; height: 47px; }
ul#menu-left .ico-fotos  a { background-position: -47px -47px;  width: 47px; height: 47px; }
ul#menu-left .ico-locais a { background-position: -0px  -94px;  width: 47px; height: 47px; }
ul#menu-left .ico-mural  a { background-position: -94px -94px;  width: 47px; height: 47px; }
ul#menu-left .ico-perfil a { background-position: -47px -141px; width: 47px; height: 47px; }
ul#menu-left .ico-perfil{
  margin-top: 72px;
}


ul#menu-left .ico-agenda a:hover,
ul#menu-left .ico-agenda a.active { background-position: -47px -0px;   width: 47px; height: 47px; }
ul#menu-left .ico-amigos a:hover,
ul#menu-left .ico-amigos a.active { background-position: -0px  -47px;  width: 47px; height: 47px; }
ul#menu-left .ico-fotos  a:hover,
ul#menu-left .ico-fotos  a.active  { background-position: -94px -47px;  width: 47px; height: 47px; }
ul#menu-left .ico-locais a:hover,
ul#menu-left .ico-locais a.active { background-position: -47px -94px;  width: 47px; height: 47px; }
ul#menu-left .ico-mural  a:hover,
ul#menu-left .ico-mural  a.active  { background-position: -0px  -141px; width: 47px; height: 47px; }
ul#menu-left .ico-perfil a:hover,
ul#menu-left .ico-perfil a.active { background-position: -94px -141px; width: 47px; height: 47px; }