#main-menu{
  width: 921px;
  margin: auto;
  margin-top: 40px;
  position: relative;
}

#main-menu header{
  text-align: center;
}

#main-menu header figure.icon-4g{
  position: absolute;
  left: 660px;
  top: 29px;
}

#main-menu article{
  margin: 30px 0;
  overflow: hidden;
}

#main-menu article a{
  display: block;
  float: left;
  height: 310px;
  width: 33.33%;
  text-indent: -999px;

}

#main-menu article a.perfil{ background: url('../img_dna/2014/menu/normal-perfil.jpg') no-repeat; }
#main-menu article a.mural { background: url('../img_dna/2014/menu/normal-mural.jpg')  no-repeat;  }
#main-menu article a.amigos{ background: url('../img_dna/2014/menu/normal-amigos.jpg') no-repeat; }
#main-menu article a.agenda{ background: url('../img_dna/2014/menu/normal-agenda.jpg') no-repeat; }
#main-menu article a.fotos { background: url('../img_dna/2014/menu/normal-fotos.jpg')  no-repeat;  }
#main-menu article a.local { background: url('../img_dna/2014/menu/normal-local.jpg')  no-repeat;  }

#main-menu article a.perfil:hover{ background: url('../img_dna/2014/menu/hover-perfil.jpg') no-repeat; }
#main-menu article a.mural:hover { background: url('../img_dna/2014/menu/hover-mural.jpg')  no-repeat;  }
#main-menu article a.amigos:hover{ background: url('../img_dna/2014/menu/hover-amigos.jpg') no-repeat; }
#main-menu article a.agenda:hover{ background: url('../img_dna/2014/menu/hover-agenda.jpg') no-repeat; }
#main-menu article a.fotos:hover { background: url('../img_dna/2014/menu/hover-fotos.jpg')  no-repeat;  }
#main-menu article a.local:hover { background: url('../img_dna/2014/menu/hover-local.jpg')  no-repeat;  }

/* ==========================================================================
   MOBILE
   ========================================================================== */
  
@media only screen and (max-width: 640px) {
  #main-menu{
    width: 100%;
  }

  #main-menu article{
    text-align: center;
  }

  #main-menu article a{
    display: inline-block;
    width: 307px;
    float: none;
  }

  #main-menu header h1 a{
    width: 80%;
    display: inline-block;
  }

  #main-menu header figure.icon-4g{
    left: auto;
    right: 10%;
    width: 13%;
    top: 0px;
  }
}