@media only screen and (max-width: 640px) {
/* ==========================================================================
   CONTAINER
   ========================================================================== */
  #container{
    width: 100%;
    margin: 0;
    position: static;
    /*background: gray;*/
  }

  #container h1.dna-logo{
    width: 100%;
    position: absolute;
    top: 0px;
    margin-top: 47px;
  }

  #container h1.dna-logo a{
    width: 80%;
    display: inline-block;
  }

   #container h1.dna-logo img.icon-4g{
    top: 5px;
   }
/* ==========================================================================
   MENU TOP
   ========================================================================== */

  #menu-top nav,
  #menu-top ul{
    width: 100%;
  }

  #menu-top nav li{
    width: 16.66%;
  }

/* ==========================================================================
   MENU MOBILE
   ========================================================================== */
#menu-mobile{
  margin: 170px 0 0;
  width: 100%;
  position: relative;
  display: block;
}

#menu-mobile h2{
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.25em;
  font-family: "Teuton23Pro_conv", Helvetica, Arial;
  width: 27.77%;
  text-align: center;
  float: left;
  background: #00417d;
  margin: 0px;
  padding: 16px 0;
}

#menu-mobile h2 a,
#menu-mobile h2 a:visited{
  color: #fff;
  text-decoration: none;
}

#menu-mobile > nav{
  height: 58px;
  width: 20.83%;
  width: 69px;
  float: left;
  background: #a7a6a6;
}

#menu-mobile ul ul.dropdown{
  position: absolute;
  top: 58px;
  left: 0px;
  background: #a7a6a6;
  width: 100%;
  padding: 0px;
  display: none;
  z-index: 100; 
}

#menu-mobile ul > li{
  margin-left: 22.38%;
  margin-top: 22.38%;
  width: 52.23%;
}

#menu-mobile ul.dropdown li{
  float: left;
  width: 50%;
  margin: 0px;
  text-align: center;
  padding: 15px 0;
}

#menu-mobile ul.dropdown a{
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.25em;
  font-family: "Teuton23Pro_conv", Helvetica, Arial;
}

#menu-mobile ul.dropdown a,
#menu-mobile ul.dropdown a:visited{
  color: #fff;
}

#menu-mobile nav a.link img{
  max-width: 32px;
}

#menu-mobile nav a.close{
  display: none;
}

#menu-mobile ul ul.dropdown.submenu.local{
  background: #fff;
  -webkit-box-shadow:  0px 3px 8px 0px rgba(0, 0, 0, .2);
          box-shadow:  0px 3px 8px 0px rgba(0, 0, 0, .2);
}

#menu-mobile ul ul.dropdown.submenu.local a{
  color: #2f2f2f;
  font-family: "Teuton23Pro_conv";
  text-decoration: none;
  text-transform: uppercase;
}

#menu-mobile ul ul.dropdown.submenu.local a.active,
#menu-mobile ul ul.dropdown.submenu.local a:hover,
#menu-mobile ul ul.dropdown.submenu.local a:active{
  color: #879b00;
}

/* ==========================================================================
   POSTS
   ========================================================================== */
  
#posts figure{
  width: 16%;
  margin-left: 3%;
}

#posts header textarea{
  width: 73%;
  margin-left: 3%;
  margin-bottom: 30px;
  padding: 2%;
}

#posts article .info {
  float: right;
  margin-left: 3%;
  padding: 2% 2%;
  width: 73%;
  float: right;
  line-height: 1.375em;
  min-height: 55px;
}

#posts article .post-image {
  width: 76.8%;
  margin-left: 22%;
  float: right;
}

#posts header h1{
  margin-left: 21.64%;
  font-size: 1.25em;
  margin-top: 20px;
}

#posts article {
    margin-bottom: 30px;
}

a.post.video{
    background-position: 15px -183px;
    height: 30px;
    width: 70px;
}

a.post.photo{
    background-position: 15px -208px;
    height: 30px;
    width: 70px;
}

#posts #post-links input[type="submit"] {
  height: 30px;
  width: 86px;
  font-size: .875em;
}

/* ==========================================================================
 POST COMMENTS
 ========================================================================== */
#posts article.post-comment input[type=text]{
  width: 65%;
}

/* ==========================================================================
 LAYOUT ELEMENTS
 ========================================================================== */
#dna-tim-logo.layout-element{
  top: 60px;
  right: 7%;
  width: 37.22%;
}

#tim-logo.layout-element{
  top: 170px;
  right: 7%;
  width: 36.72%;
  max-height: 58px;
}

#tim-logo.layout-element img{
  max-height: 50px;
}

#details-mobile-top-right{
  top: 40px;
  left: 0px;
  width: 50.13%;
}

/* ==========================================================================
 LOCAL PAGE
 ========================================================================== */
#local-info h1 {
  margin: 41px 6.94% 30px;
}

#local-info p {
  margin: 0 6.94% 37px;
}

#local-info textarea{
  margin: 0 6.94%;
}

#local-info input[type=submit]{
  margin: 10px 12% 10px 0;
}

#local-info table{
  width: 100%;
  margin: 0;
  font-size: .6875em;
}

/* ==========================================================================
 FRIENDS
 ========================================================================== */
#search-friends {
  margin-bottom: 0px;
  margin-top: 20px;
}

#search-friends input[type="text"] {
  width: 90%;
  margin-left: 3%;
}

#friends-list{
  padding: 0px;
  margin: 0 2.77%;
  padding-top: 20px;
}

#friends-list article{
  width: 100%;
  margin-bottom: 20px;
}

#friends-list figure.user-picture{
  padding-right: 2.91%;
  background: #fff;
}

#friends-list article a{
  width: 62.83%;
  margin: 15px 0 0 15px;
}

/* ==========================================================================
 PROFILE
 ========================================================================== */
#profile{
  position: relative;
}

#profile header {
  margin: 0px;
  background: url("../img_dna/2014/sprite_system.png") no-repeat scroll 0 -1077px transparent;
  height: 136px;
}

#profile-info{
  top: 15px;
  left: 0px;
  width: 100%;
  margin: 0 2.77%;
}

#profile-info > section {
  margin: 0 2.77%;
  float: left;
  width: 61.11%;
}

#profile-info a.select-file{
  color: #fff;
}

#profile-info a.post.photo{
  background-color: #5f6a98;
  background-position: -56px -208px;
}

#profile-info a.select-file {
  min-height: 33px;
}

/* ==========================================================================
 HELPERS
 ========================================================================== */
#details-top-left,
#details-top-right,
#menu-top,
#highlight-photo,
#user-info-thumb{
  display: none !important;
}

.only-mobile{
  display: block;
}

.only-desktop{
  display: none;
}