#topo {width:1038px; height:auto; margin:0 auto;}

#esquerda {
	width:160px; 
	height:auto; 
	float:left;
}

.postitem {
	width:579px; 
	height:auto; 
	float:left;
}

#centro {
	width:470px; 
	height:auto; 
	float:left;
}
#centrointerno {
	width:450px;
	margin: 0px 10px 0px 10px;
}

#direita {
	width:200px; 
	height:auto; 
	float:left;
}

#rodape {width:1038px; height:auto; margin:0 auto;}
