body{
	
	margin: 0;
	padding: 0;
	color:#000;
	font-family: Arial, Helvetica, sans-serif;
}

#pai {
	width:1100px; height:296px; margin:0 auto; background:url(../img/testeira.jpg);
}

#filho {
	width:1100px; 
	height:296px; 
	float:left;
}

#filha {
	background:url(../img/background.jpg);
	width:1100px; 
	height:auto; 
	float:left;
}

#topo {width:1038px; height:auto; margin:0 auto;}

#esquerda {
	width:100px; 
	height:auto; 
	float:left;
}

.postitem {
	width:100%; 
	height:auto; 
	float:left;
}

#centro {
	width:470px; 
	height:auto; 
	float:left;
}
#centrointerno {
	width:450px;
	margin: 0px 10px 0px 10px;
}

#direita {
	width:200px; 
	height:auto; 
	float:left;
}

#moldura {
	width:180px;
	height:180px;
	position:relative;
	float:left;		
}

#moldura2 {
	width:180px;
	height:180px;
	position:absolute;
	float:left;
	top: 0px;
	left: 0px;
}

#rodape {width:1038px; height:auto; margin:0 auto;}
