.menuver {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
}

	.menuver A:link     {color: #999999;text-decoration: none}
	.menuver A:visited  {color: #999999;text-decoration: none}
	.menuver A:active   {color: #999999;text-decoration: none}
	.menuver A:hover    {color: #666666;text-decoration: none}	
			
	
