body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.TextoPadrao {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 18px;
}
.TextoPadraolinha {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 13px;
}
.newslist {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; line-height: 15px; font-weight: bold}
.articletitle {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold}
.articletext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: italic;
	line-height: 10px;
}
.normaltextunleaded {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px}
.productname {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF}
.titulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 18px;
	font-weight: bold;
}
.LinkPreto {
	color: #000000;
	text-decoration: none;
}
.LinkPreto:hover {
	color: #000000;
	text-decoration: underline;
}
.LinkPreto:active {
	color: #000000;
	text-decoration: underline;
}
.LinkPreto:visited {
	color: #000000;
	text-decoration: underline;
}
/* Formulário */

input.swp, textarea.swp, Text Field.swp, Button.swp, Check Box.swp, Radio Button.swp, select.swp {
	font-family: Verdana; 
	font-size: 10px; 
	color: #000000; 
	border-color: #716A5C;
	border-style: solid; 
	border-width: 1px;
}