@import "base";

.basic-tricks{
  @include container;
  margin-top: 96px;

  h2{
    color: $red;
    
    span{
      background: $red;
      color: #fff;
      padding: 3px 10px;
    }
  }

  h3{
    color: $blue;
    margin-top: 40px;
  }

  h2, h3{
    text-transform: uppercase;
    padding-left: 110px;
    font-size: 35px;
    line-height: 45px;
  }

  ul.tricks{
    li{
      margin-top: 75px;
      margin-left: 110px;
    }
  }
}