@import 'base';

.form{
  background: $blue;
  color: $blue-light;
  font-family: 'Teuton23Pro_conv';
  text-transform: uppercase;

  article{
    @include container;
    padding-bottom: 55px;
    overflow: hidden;

    h4{
      font-size: 35px;
      font-weight: normal;
      margin: 50px 0;
      margin-left: 110px;
    }

    p{
      font-size: 25px;
      float: left;

      &.user-name{
        width: 536px;
        margin-right: 60px;
        margin-bottom: 20px;
        padding-left: 110px;

        input[type='text']{
          width: 440px;
        }
      }
      &.user-regional{
        width: 386px;
        margin-bottom: 20px;

        label{
          width: 130px;
        }
        input[type='text']{
          width: 237px;
        }
      }
      &.user-gsm{
        width: 386px;
        margin-right: 60px;
        padding-left: 110px;

        input[type='text']{
          width: 290px;
        }
      }
      &.user-email{
        width: 523px;

        input[type='email']{
          width: 427px;
        }
      }
    }
  }

  label{
    width: 90px;
    display: block;
    float: left;
  }

  input[type='text'],
  input[type='email']{
    background: $blue-light;
    font-size: 20px;
    padding: 3px;  
    font-family: 'Teuton23Pro_conv';
    text-transform: uppercase;
    border: none;
    color: $blue;
  }

  .upload-area{
    background: #fff;
    color: $blue;
    padding: 127px 0;

    article{
      @include container;
      h3{
        font-size: 25px;
        padding-top: 12px;
      }
    }

    .field-customized{
      width: 189px;
      background: #fff;
      position: relative;
      cursor: pointer;
      margin-left: 310px;
      margin-right: 44px;
      float: left;
      
      input[type="file"]{
        position: absolute;
        width: 100%;
        height: 89px;
        opacity: 0;
        cursor: pointer;
        left: 0px;
        top: 0px;
        z-index: 10;
      }
      
      span{
        text-align: center;
        width: 100%;
        display: block;
        height: 89px;
        line-height: 89px;
        
        img{
          margin-top: 0px;
        }
      }
    }
  }
}