@import "base";

header#main{
  @include container;
  height: 827px;
  background: url(../images/header_background.jpg);

  h1{
    padding-top: 50px;
    padding-left: 110px;

    a.logo{
      width: 273px;
      height: 74px;
    }
  }
}