.geral{
	background:url(../img/back2.png) repeat top center;
	height:100%;
	margin: 0;
	padding: 0;
	
	
}
.limpa{
	clear: both
	
}
body{
	background:#f2f2f2 url(../img/background1a.jpg) no-repeat top center;
	margin: 0;
	padding: 0;
	color:#ffffff;
	font-family: Arial, Helvetica, sans-serif;
}

#pai {
	width:1100px; height:180px; margin:0 auto; background:url(../img/testeira1.jpg);
}

#filho {
	width:1100px; 
	height:182px; 
	float:left;
}

#filha {
	
	width:1100px; 
	height:auto;
	float:left;
}

#topo {width:1038px; height:auto; margin:0 auto;}

#esquerda {
	width:100px; 
	height:auto; 
	float:left;
}

.postitem {
	width:479px; 
	height:auto; 
	float:left;
}

#centro {
	width:470px; 
	height:auto; 
	float:left;
}
#centrointerno {
	width:450px;
	margin: 0px 10px 0px 10px;
}

#direita {
	width:200px; 
	height:auto; 
	float:left;
}

#moldura {
	width:180px;
	height:180px;
	position:relative;
	float:left;		
}

#moldura2 {
	width:180px;
	height:180px;
	position:absolute;
	float:left;
	top: 0px;
	left: 0px;
}

#rodape {width:1038px; height:auto; margin:0 auto;}
