.bordasite {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #A2A2A2;
	border-left-color: #A2A2A2;
	border-bottom-color: #A2A2A2;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #A2A2A2;
}
